body {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  background: #72a1bf 0% 0% no-repeat padding-box;
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  top: 205px;
  left: 392px;
  width: 1137px;
  height: 670px;
  background: #074770 0% 0% no-repeat padding-box;
  border-radius: 36px;
  opacity: 1;
}

.Home {
}

.right {
  top: 356px;
  left: 915px;
  width: 614px;
  height: 519px;
  background: transparent 0% 0% no-repeat
    padding-box;
  border-radius: 0px 0px 36px 0px;
  opacity: 1;
}

.location {
  top: 356px;
  left: 392px;
  width: 523px;
  height: 519px;
  background: #f2faff 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 36px;
  opacity: 1;
}
